node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.venv
env/
venv/
ENV/
